BasedOnStyle: LLVM
AccessModifierOffset: -4
IndentWidth: 4
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AlignConsecutiveBitFields: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
BreakAfterAttributes: Always
BreakAfterReturnType: All
BreakBeforeBraces: Attach
BreakBeforeCloseBracketBracedList: true
BreakBeforeCloseBracketFunction: true
BreakBeforeConceptDeclarations: true
BreakBeforeInlineASMColon: Always
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakTemplateDeclarations: Yes
ColumnLimit: 120
Cpp11BracedListStyle: false
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: true
IndentCaseLabels: true
# IntegerLiteralSeparator:
#   Binary: 4
#   Decimal: 3
#   Hex: -1
Language: Cpp
LineEnding: LF
PackConstructorInitializers: Never
PenaltyReturnTypeOnItsOwnLine: 1000
PointerAlignment: Left
ReferenceAlignment: Pointer
SeparateDefinitionBlocks: Always
Standard: Latest
UseTab: Never
